.sheet-row {
  width: 100%;
  min-height: 56px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e3e6ec;
  &__col {
    align-self: stretch;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 13px;
    &-id {
      width: 10%;
      justify-content: center;
      border-left: 1px solid #e3e6ec;
      border-right: 1px solid #e3e6ec;
    }
    &-title {
      width: 50%;
      border-right: 1px solid #e3e6ec;
    }
    &-descr {
      width: 40%;
      border-right: 1px solid #e3e6ec;
    }
  }
}

@media (max-width: 991.98px) {
  .sheet-row {
    &__col {
      &-title {
        width: 30%;
      }
      &-descr {
        width: 60%;
      }
    }
  }
}

@media (max-width: 575.98px) {
  .sheet-row {
    &__col {
      font-weight: 400;
      font-size: 12px;
    }
  }
}
