.sheet-row {
  width: 100%;
  height: 54px;
  &__row.row {
    height: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #e3e6ec;
  }
  &__col.col-2 {
    padding: 0;
    width: 10%;
    border-left: 1px solid #e3e6ec;
    border-right: 1px solid #e3e6ec;
  }
  &__col.col-6 {
    padding: 0;
    width: 50%;
    border-right: 1px solid #e3e6ec;
  }
  &__col.col-4 {
    padding: 0;
    width: 40%;
    border-right: 1px solid #e3e6ec;
  }
  &__col-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

div.sheet-row__col.sheet-row__col-one.col-2 {
  padding: 0;
}
