.navigation {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  &__col {
    display: flex;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
    color: #474955;
    &-prev {
      margin-left: 3%;
      justify-content: flex-start;
    }
    &-next {
      margin-right: 3%;
      justify-content: flex-end;
    }
    &-pagination {
      justify-content: center;
    }
  }
}

@media (max-width: 575.98px) {
  .navigation {
    justify-content: center;
    &__col {
      &-prev {
        display: none;
      }
      &-next {
        display: none;
      }
    }
  }
}
